<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>
  <div class="notice">
    <% @employee.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </div>
  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :ssn %>
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth, :end_year => 1960 %>
    <%= f.input :phone %>
    
    <%= f.label :role %>
    <%= f.select(:role, [['Employee', 'employee'],['Manager', 'manager'],['Administrator', 'admin']]) %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
