<body>
<p id="flash"><%= notice %></p>
<h2>Employee Details</h2>
<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>SSN:</b>
  <%= @employee.ssn %>
</p>

<p>
  <b>Date of Birth:</b>
  <%= @employee.date_of_birth.strftime("%m/%d/%y") %>
</p>

<p>
  <b>Phone:</b>
  <%= number_to_phone(@employee.phone) %>
</p>

<p>
  <b>Role:</b>
  <%= @employee.role.capitalize %>
</p>

<p>
  <strong>Assignment History</strong>
  <% @assignments.each do |assignment| %>
    <%= link_to "#{assignment.store.name}", assignment.store %> <br>
  <% end %>
</p>

<p>
  <b>Active:</b>
  <% if @employee.active %>
  Yes
  <% else %>
  No
  <% end %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
</body>