<body>
<p id="flash"><%= notice %></p>
<h2>Employee Details<h2>
<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>SSN:</strong>
  <%= @employee.ssn %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @employee.date_of_birth.strftime("%m/%d/%y") %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@employee.phone) %>
</p>

<p>
  <strong>Role:</strong>
  <%= @employee.role.capitalize %>
</p>

<p>
  <strong>Active:</strong>
  <% if @employee.active %>
  Yes
  <% else %>
  No
  <% end %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
</body>