<body>
<p id="flash"><%= notice %></p>
<h2> Assignment Details </h2>
<p>
  <strong>Store:</strong>
  <%= @assignment.store_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @assignment.employee_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @assignment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @assignment.end_date %>
</p>

<p>
  <strong>Pay level:</strong>
  <%= @assignment.pay_level %>
</p>



<p>
  <%= @assignment.employee_id  %> is assigned to <%= @assignment.store_id %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
</body>