<p id="notice"><%= notice %></p>
<h2> Store Details </h2>
<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.street %>
  <%= @store.city %>, <%= @store.state %> <%= @store.zip %>
</p>

<p>
  <strong>Current Employees:</strong>

</p>

<p>
  <strong>Phone:</strong>
  <%= @store.phone %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @store.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @store.longitude %>
</p>

<p>
  <strong>Active:</strong>
  <%= @store.active %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
